@model ShopWebSite.Models.ProductPrice

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProductPrice</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeriodFromUtc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeriodFromUtc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeriodToUtc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeriodToUtc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProductPriceId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
